<a class="navbar-brand" href="/">
    <b>
        <!-- Dark Logo icon -->
        <img src="{% block navbar_brand_dark_logo_icon 'https://via.placeholder.com/40' %}" alt="homepage" class="dark-logo" />
        <!-- Light Logo icon -->
        <img src="{% block navbar_brand_light_logo_icon 'https://via.placeholder.com/40' %}" alt="homepage" class="light-logo" />
    </b>
    <span>
         <!-- dark Logo text -->
         <img src="{% block navbar_brand_dark_logo_text 'https://via.placeholder.com/128x19' %}" alt="homepage" class="dark-logo" />
        <!-- Light Logo text -->
         <img src="{% block navbar_brand_light_logo_text 'https://via.placeholder.com/128x19' %}" class="light-logo" alt="homepage" />
    </span>
</a>