<li class="nav-item hidden-sm-down search-box">
    <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
        <i class="fas fa-search"></i>
    </a>
    <form class="app-search">
        <input type="text" class="form-control" placeholder="Search & enter">
        <a class="srh-btn"><i class="fas fa-times"></i></a>
    </form>
</li>