<a class="navbar-brand" href="/">
    <b>
        <!-- Dark Logo icon -->
        <img src="{% block navbar_brand_dark_logo_icon 'https://via.placeholder.com/56' %}" style = "max-width: 50px; max-height: 56px;" alt="homepage" class="dark-logo" />
        <!-- Light Logo icon -->
        <img src="{% block navbar_brand_light_logo_icon 'https://via.placeholder.com/56' %}" style = "max-width: 50px; max-height: 56px;" alt="homepage" class="light-logo" />
    </b>
    {% block navbar_brand_logo_text '' %}
    {#
    Navbar_brand_logo_text must include a span with images (or text), like so:

    <span>
         <!-- dark Logo text -->
         <img src="{% block navbar_brand_dark_logo_text 'https://via.placeholder.com/128x19' %}" alt="homepage" class="dark-logo" />
        <!-- Light Logo text -->
         <img src="{% block navbar_brand_light_logo_text 'https://via.placeholder.com/128x19' %}" class="light-logo" alt="homepage" />
    </span>
    #}
</a>