<!-- .right-sidebar -->
<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> {% block right_panel_title 'Service Panel' %} <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            {% block right_panel_body '' %}
        </div>
    </div>
</div>